<h2>Archive</h2>
<ul>
	<% @admin = User.find_by_username("Admin")%>
	<% @microposts = @admin.microposts%>
	<% unless @admin.microposts.empty?%>
	<table class = "microposts">
		<%= render @microposts%>
	</table>
	
	<% end %>	
	
</ul>
