<%= render 'layouts/entrytopnav'%>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac augue ut metus accumsan pulvinar. Mauris ac mi est. Sed congue, ante nec vehicula laoreet, ante nisl egestas velit, ut faucibus turpis dui eu est. Etiam arcu est, gravida ut egestas nec, tristique ac est. In vitae lorem est, nec congue lacus. Cras fringilla tincidunt scelerisque. Suspendisse dolor dolor, euismod vel cursus sit amet, ornare vitae dui. Nulla fermentum nunc at urna ullamcorper vitae bibendum mi suscipit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque iaculis, ipsum sed adipiscing dapibus, velit leo placerat dolor, eget facilisis quam felis in erat. Integer pharetra metus a purus vestibulum sit amet tempor massa molestie. Curabitur placerat malesuada justo, nec pharetra eros tincidunt eget. Curabitur nisl tortor, dapibus vel semper at, malesuada et nunc. Aenean volutpat tincidunt nisl, et tempor arcu sollicitudin in.

Aliquam pulvinar rhoncus magna. Etiam dolor dui, adipiscing sed aliquam id, rhoncus a mauris. Vestibulum dapibus eros at leo rutrum a ornare nisl accumsan. Quisque id dui et tortor facilisis pulvinar. Vestibulum lacinia varius pulvinar. In lacus nisl, adipiscing a luctus id, suscipit eget leo. Pellentesque blandit, justo ut tincidunt hendrerit, sapien tortor vulputate mi, nec scelerisque mauris lectus ac quam. Nunc fermentum mollis laoreet. Vivamus in justo felis, at facilisis justo. Fusce bibendum massa vitae quam scelerisque vulputate. Praesent et est lorem, eu aliquam nisi. Vestibulum a ornare felis.

Aliquam erat volutpat. Sed vel dapibus mauris. Fusce sodales convallis purus vel iaculis. In mollis viverra metus id scelerisque. Curabitur non justo velit. Donec suscipit arcu eu risus faucibus sodales. Nullam at diam est, nec fringilla est. In blandit sodales auctor. Curabitur eleifend purus quis nunc consequat iaculis. Vivamus ligula neque, fermentum ac volutpat nec, commodo non turpis. Etiam lacinia turpis molestie sapien ultricies pellentesque. Curabitur volutpat nunc ipsum. Duis pulvinar, turpis non venenatis egestas, lacus libero aliquam mi, eget bibendum est tortor vitae metus. Sed sit amet lectus massa, quis feugiat sem.

Sed ut tortor felis, a sollicitudin risus. Aliquam metus risus, convallis egestas vehicula non, tempus in ligula. Phasellus felis eros, aliquam ac dapibus quis, ultrices vitae risus. Pellentesque et leo fringilla erat volutpat gravida. Curabitur ac ultrices tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer sodales fermentum libero, hendrerit vulputate sapien lacinia sed. Nullam at nulla a nibh hendrerit laoreet sed sed massa. Nam eros velit, iaculis bibendum eleifend ac, laoreet sit amet augue. Maecenas porta tellus at erat malesuada ac pretium tortor commodo.

Phasellus leo nisi, posuere eu sodales sit amet, porta in est. Fusce volutpat blandit neque, non pulvinar risus varius at. Vestibulum et lectus at nulla aliquet porttitor. Duis lacus turpis, tincidunt id laoreet vel, feugiat at purus. Integer laoreet dolor at nisi euismod malesuada et sed nibh. Vivamus sed eros ligula, eu commodo est. Aenean ut odio diam, id ultricies lacus. Donec consequat, libero nec tristique egestas, eros eros aliquet mi, eget hendrerit tortor eros id lectus. Sed quis tellus purus, quis porttitor nibh.
<%= render 'layouts/entrybottomnav'%>
		<hr/>

<%= render 'layouts/viewcomments'%>
<hr/>
		
<%= render 'layouts/commentform'%>

		<br/><br/>

