<h2>Welcome to the site!</h2>

<p>On behalf of all of the people involved in this site's creation,
	I welcome you all to our web site. The purpose of this site is to
	create an informative area for which I will be able to post blog-like 
	entries giving valuable information on nutrition and general health. 
	Each entry is made with references to reviewed scientific studies, 
	each of which will be provided at the end of each of my entries.<br/><br/>
	This site seems very empty so far, but, I assure you that, in time, the 
	archive will be filled to the brim with the results of my research. So,
	once again, I thank you for visiting this site and I hope you are able 
	to learn a thing or two.</p>
	

