<form action="" method="post">
		<h5>Add a comment:</h5><br/>
		<label>Name: <input name="name" type="text" size="30"  maxlength="30" /></label><br/>
		<label>Comment:<br/> <textarea name="newcomment" cols="50" rows="10"></textarea></label>
		<p><input name="Reset1" type="reset" value="Reset" /><input name="Submit1" type="submit" value="Submit" /></p>
		</form>