<div class="headfoot"><div id="contact">Disclaimer: The material provided on this site is for educational purposes only
										<br/>and the recommendations provided are not intended to replace the advice
										<br/>of your physician. It is not advised to discontinue, reduce or otherwise
										<br/>change treatment or medication without first consulting with a health care
										<br/>professional. 
										</div>
					<div id="credit">Format of site courtesy of Stu Nicholls of <a href="http://www.cssplay.co.uk/http://www.cssplay.co.uk/">CSSPlay.</a></div></div>
