<div class="headfoot">Nutrition Simplified<br/>(tentative title)<br/>
	<nav class = "round">
	<ul>
		<% if !current_user.nil? %> 
		<li><%= link_to "Controls", "#"%></li>
		<li><%= link_to "Sign out", signout_path %></li>
	<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
	</ul>	
</nav>
</div>