<div class = 'imagebuffer'><a href="www.youtube.com"><%= youtube_img %></a><br/>
	 Visit us on YouTube!</div>
	 <br/><br/>
<div class = 'imagebuffer'><a href="www.facebook.com"><%= facebook_img %></a><br/>
	 	Like us on Facebook! </div>
