<h5>Comments:</h5>

		John Doe says:<br/>

			<div class="comment">Sed sed augue at turpis ultricies ullamcorper. Maecenas a nisi ut sapien congue condimentum. Etiam imperdiet tincidunt erat, at ullamcorper diam aliquet sed. Morbi posuere pretium tincidunt. Nullam mi lacus, tristique et fermentum quis, eleifend pretium elit. Aenean ut eros eu odio aliquet eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tempus eros quis diam elementum vulputate</div>	